.carousel-arrow {
  border: none;
  cursor: pointer;
  background: none;
  transition-duration: 0.3s;
  stroke: $color-priamry;

  &:hover {
    transform: scale(1.2);
    stroke: lighten($color-priamry, 10%);
  }

  &:disabled {
    stroke: darken($color-priamry, 20%);
    &:hover{
      transform: none;
    }
  }

  &--prev {
    transform: rotate(180deg);

    &:hover {
      transform: scale(1.2) rotate(180deg);
    }

    &:disabled{
      &:hover{
        transform: rotate(180deg);
      }
    }
  }
}
