.carousel-list{
  position: relative;
  overflow: hidden;

  margin: 0 auto;
}

.carousel-list__item{
  position: absolute;
  transition-duration: 0.7s;

  &--next{
    left: 100%;
    transform: scale(0);
  }

  &--previous{
    left: -100%;
    transform: scale(0);
  }

  &--current{
    left: 50%;
    transform: scale(1) translateX(-50%);
  }
}
