.carousel-list{
  position: relative;
  overflow-x: hidden;

  margin: 0 auto;

  &--team{
    .carousel-list__item{
      width: 100%;
      min-height: 304px;
    }
  }

  &--review{
    .carousel-list__item{
      width: 100%;
      min-height: 357px;
    }
  }
}

.carousel-list__item{
  position: absolute;
  transition-duration: 0.7s;

  &--next{
    left: 100%;
    transform: scale(0);
  }

  &--previous{
    left: -100%;
    transform: scale(0);
  }

  &--current{
    left: 50%;
    transform: scale(1) translateX(-50%);
  }
}

@media (min-width: $tablet-width){
  .examples__image-list{
    .carousel-list__item--previous{
      left: -14%;
      transform: scale(0.5);
    }
    .carousel-list__item--next{
      left: 38%;
      transform: scale(0.5);
    }
    .carousel-list__item--current{
      left: 50%;
      transform: scale(1) translateX(-50%);
    }
  }
}
