.circle{
  border-radius: 50%;

  &--main{
    width: 280px;
    height: 280px;
    border: 1px solid $color-primary;
  }

  &--secondary{
    width: 230px;
    height: 230px;
    background: #151313;
  }
}

@media (min-width: $tablet-width){
  .circle{

    &--main{
      width: 416px;
      height: 423px;
    }

    &--secondary{
      width: 342px;
      height: 348px;
    }
  }
}
