.examples__heading {
  margin-bottom: 23px;
}

.examples__categories{
  margin: 0 auto;
  margin-bottom: 40px;
  width: 234px;
}

.examples__slogan {
  margin-bottom: 31px;
  max-width: 297px;
}

.categories-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.categories-nav-item {
  font-size: 16px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.2);

  &--active {
    color: #ffffff;

    &:hover,
    &:active {
      color: #ffffff;
    }
  }

  &:hover {
    color: rgba(255, 255, 255, 0.4);
  }

  &:active {
    color: rgba(255, 255, 255, 0.1);
  }
}

.examples__image-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  margin-bottom: 38px;
}

.examples__image-list {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.examples__image-list-item {
  transition: transform 0.7s;

  &--next {
    transform: translateX(-100%) scale(0);
  }

  &--previous {
    transform: translateX(100%) scale(0);
  }

  &--first {
    transform: translateX(100%) scale(1);

    &-hidden {
      transform: translateX(-9%) scale(0);
    }
  }

  &--second {
    object-fit: none;
    transform: translateX(0) scale(1);
  }

  &--third {
    transform: translateX(-100%) scale(1);

    &-hidden {
      transform: translateX(9%) scale(0);
    }
  }
}

.examples-more-btn {
  display: block;
  width: 141px;
  margin: 0 auto;
}
