.examples{
  margin-bottom: 60px;
  text-align:center;
}
.examples__heading {
  margin-bottom: 23px;
}

.examples__categories{
  margin: 0 auto;
  margin-bottom: 40px;
  width: 234px;
}

.examples__slogan {
  margin-bottom: 31px;
  max-width: 297px;
}

.examples__image-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 38px;
}

.examples__image-list {
  width: 234px;
  height: 248px;
}
