.faq {
  padding-top: 60px;
  padding-bottom: 30px;

}

.faq__heading {
  margin-bottom: 35px;
}

.faq__slogan {
  margin-bottom: 40px;
  max-width: 177px;
}

.faq-list__item {
  margin: 0 auto;
  cursor: pointer;
  max-width: 290px;
  border: 1px solid #544332;
  border-bottom: none;
  margin-bottom: 30px;
  overflow: hidden;
  position: relative;

  &:hover{
    border-color: $color-primary;

    *{
      border-color: $color-primary;
    }
  }
}

.faq-list__item-heading {
  border-bottom: 1px solid #544332;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  p {
    text-align: left;
    padding-top: 15px;
    width: 219px;
    margin-left: 15px;
    padding-bottom: 15px;
    margin-right: 43px;
  }
}

.faq-list__item-heading-status {
  border-left: 1px solid #544332;
  position: absolute;
  width: 43px;
  height: 100%;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.4s;

  svg {
    stroke: $color-primary;
    transition-duration: 0.4s;

    &:last-child {
      transform: rotate(90deg);
      position: absolute;

    }
  }

  &--active {
    background-color: $color-primary;

    svg {
      stroke: $color-white;

      &:last-child {
        transform: rotate(180deg);
      }
    }
  }
}

.faq-list__item-slogan {
  display: none;
  text-align: left;
  border-bottom: 1px solid #544332;
  color: #DDD0C3;
  padding: 15px;
  padding-right: 26px;
}
