.footer{
  background-color: $color-dark;
  padding: 40px 0;
}
.footer-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.footer__location{
  color: #D6CCC2;

  margin-bottom: 20px;
}

.footer__tel{
  color: #FDF2E6;

  margin-bottom: 25px;

  &:hover{
    text-decoration: underline;
  }
}

.footer__socials{
  margin-bottom: 25px;
}

.footer__socials-item{
  margin: 0 10px;
}

@media (min-width: $tablet-width){
  .footer-wrapper{
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    *{
      margin-bottom: 0;
    }
  }

  .footer__socials{
    order: -1;
  }

  .footer__location{
    flex-grow: 1;
  }

  .footer__logo{
    display: none;
  }
}
