.review__heading{
  margin-bottom: 60px;
}

.review-wrapper{
  height: 483px;
  max-width: 290px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.review__arrow{
  position: absolute;
  top: 50px;
  z-index: 1;
  left: 50%;

  &--next{
    transform: translate(73px,2px);

    &:hover {
      transform: translate(73px, 2px) scale(1.2);
    }

    &:disabled{
      &:hover{
        transform: translate(73px,2px);
      }
    }
  }

  &--prev{
    transform: rotate(180deg) translateX(95px);

    &:hover {
      transform: rotate(180deg) translateX(95px) scale(1.2);
    }

    &:disabled{
      &:hover{
        transform: rotate(180deg) translateX(95px);
      }
    }
  }
}

.review__arrow-tablet{
  display: none;
}

.review__member{
  width: 100%;
  background-color: $color-dark;
  padding-bottom: 40px;
  padding-top: 95px;

  position: absolute;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.review__member-image{
  position: absolute;

  top: 0;

  transform: translateY(-50%);
}

.review__member-name{
  font-size: 18px;

  margin-bottom: 20px;
}

.review__member-slogan{
  max-width: 227px;

  margin-bottom: 25px;
}

.review__member-info-social{
}

.review__member-info{
  color: $color-primary;
  width: 178px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.review__member-info-date{
  font-size: 12px;
}

.review__member-info-social-item{
  width: 28px;
  height: 28px;
  border: 1px solid $color-primary;
  text-align: center;
  margin: 0 8px;
  padding: 6px 0;

  transition: 0.2s;

  &:last-child{
    margin-right: 0;
  }

  &:hover{
    border-color: $color-white;
  }
}

@media (min-width: $tablet-width){
  .review-wrapper{
    max-width: 578px;
    height: 564px;
  }

  .review__member-image{
    img{
      width: 302px;
      height: 208px;
      object-fit: cover;
    }
  }

  .review__member{
    padding-top: 148px;
    padding-bottom: 33px;
  }

  .review__member-name{
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 19px;
  }

  .review__member-slogan{
    max-width: 380px;
    font-size: 14px;
    font-weight: 300;

    br{
      display: block;
    }
  }

  .review__arrow{
    top: 135px;

    &--prev{
      left: 130px;
    }

    &--next{
      right: 110px;
      left: auto;
    }
  }

  .review__arrow-base{
    display: none;
  }

  .review__arrow-tablet{
    display: block;
  }
}
