.social-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.social-list__item{
  fill: $color-primary;

  &:hover{
    fill: $color-white;
  }
}

@media (min-width: $tablet-width){
  .social-list__item{
    fill: $color-white;

    &:hover{
      fill: $color-primary;
    }
  }
}
