.social-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.social-list__item{
  fill: $color-primary;

  &:hover{
    fill: $color-white;
  }
}
