.team {
  padding-top: 60px;
  text-align: center;
  background-color: $color-dark;
}

.team__heading {
  padding-bottom: 35px;
}

.team__slogan {
  margin-bottom: 40px;
}

.team-wrapper {
  height: 427px;
  max-width: 290px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.team__arrow {
  top: 50px;
  z-index: 1;
  left: 50%;
  position: absolute;

  &--next {
    transform: translate(73px, 2px);

    &:hover {
      transform: translate(73px, 2px) scale(1.2);
    }

    &:disabled {
      &:hover {
        transform: translate(73px, 2px);
      }
    }
  }

  &--prev {
    transform: rotate(180deg) translateX(95px);

    &:hover {
      transform: rotate(180deg) translateX(95px) scale(1.2);
    }

    &:disabled {
      &:hover {
        transform: rotate(180deg) translateX(95px);
      }
    }
  }
}

.team__member {
  padding-top: 88px;
  position: absolute;
  width: 100%;
  background-color: $color-base;
}

.team__member-image {
  top: 0;
  position: absolute;
  transform: translate(-50%, -50%);
}

.team__member-name {
  font-weight: 500;
  margin: 0;
  margin-bottom: 12px;
}

.team__member-post {
  margin-bottom: 25px;
}

.team__member-quote {
  margin-bottom: 30px;
  max-width: 276px;
}

.team__member-social-list {
  margin: 0 auto;
  width: fit-content;
  margin-bottom: 16px;

  li {
    margin: 0 8px;
  }
}

@media (min-width: $tablet-width) {
  .team__slogan {
    width: 510px;
  }

  .team-wrapper {
    min-width: 686px;
    height: 600px;

    .carousel-list__item {
      width: 650px;
      min-height: 409px;
      padding: 24px;
      border: 1px solid $color-primary;
    }
  }

  .team__member {
    width: 93%;

    padding-top: 70px;
    padding-left: 106px;

    * {
      text-align: left;
    }
  }

  .team__member-name {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 10px;
  }

  .team__member-image {
    bottom: 0;
    top: auto;
    right: 0;
    transform: translate(-15%, 50%);

    img {
      width: 208px;
      height: 208px;
    }
  }

  .team__member-post {
    margin-bottom: 14px;
  }

  .team__member-quote {
    margin: 0;
    margin-bottom: 44px;
    min-width: 399px;

    br {
      display: none;
    }
  }

  .team__member-social-list {
    margin: 0;
    margin-bottom: 75px;

    li {
      &:first-child {
        svg {
          width: 7px;
          height: 15px;
        }
      }

      &:nth-child(2) {
        svg {
          width: 20px;
          height: 14px;
        }
      }

      &:last-child {
        svg {
          width: 21px;
          height: 13px;
        }
      }
    }
  }

  .team__arrow {
    bottom: 25px;
    left: auto;
    right: 115px;
    top: auto;

    &--prev {
      transform: rotate(180deg) translateX(172px);

      &:hover {
        transform: rotate(180deg) translateX(172px) scale(1.2);
      }

      &:disabled {
        &:hover {
          transform: rotate(180deg) translateX(172px);
        }
      }
    }
  }
}
