.btn {
  cursor: pointer;
  background: none;
  border: 1px solid;
  color: $color-white;
  line-height: 14px;
  font-size: 12px;
  padding: 12px 18px;

  &--base {
    border-color: $color-priamry;

    &:hover {
      box-shadow: 0 0 2px $color-white;
      transition: 0.3s;
    }
  }
}
