.title {
  font-size: 36px;
  text-align: center;
  color: $color-white;
  font-family: "Yeseva One", "Times New Roman", serif;
  font-weight: 400;
  margin: 0;
  line-height: 32px;

  &--h2{
    font-size: 28px;
  }
}

.base-text {
  margin: 0 auto;
  text-align: center;
  line-height: 140%;

  &--primary {
    color: $color-priamry;
  }
}
